/* CSS Reset */

/* prettier-ignore */
html, body, div, span, h1, h2, h3, h4, h5, h6, p,
a, img, b, u, i, ol, ul, li, form, label, footer, header, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

/* prettier-ignore */
footer, header, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

/* prettier-ignore */
ol, ul {
  list-style: none;
}

/* CSS Custom Properties */
:root {
  --primary-color: #dd082e;
  --secondary-color--red: #ee1e45;
  --secondary-color--red-gradient--1: #a0092f;
  --secondary-color--red-gradient--2: #ffc3c6;
  --secondary-color--red-gradient--3: #5c0b17;
  --secondary-color--blue: #27aaff;
  --secondary-color--blue-gradient--1: #074d7c;
  --secondary-color--blue-gradient--2: #9bdefb;
  --secondary-color--yellow: #ffdd51;
  --secondary-color--yellow-gradient--1: #605406;
  --secondary-color--yellow-gradient--2: #fdfc91;
  --secondary-color--green: #3a9456;
  --secondary-color--green-gradient--1: #14461a;
  --secondary-color--green-gradient--2: #bff8cd;
  --secondary-color--grey: #d9d5de;
  --secondary-color--grey-gradient: #6a646a;

  --screen-color--dark: #1d1d1d;
  --text--light: #fff;

  /* Gradients */
  --linear-gradient--blue: linear-gradient(
    -40deg,
    var(--secondary-color--blue-gradient--1) 10%,
    var(--secondary-color--blue) 90%,
    var(--secondary-color--blue-gradient--2) 100%
  );

  /* Pokémon Types */
  --type--Normal: #aaaa99;
  --type--Fire: #ff4522;
  --type--Water: #3399ff;
  --type--Electric: #ffcc33;
  --type--Grass: #78cc55;
  --type--Ice: #66ccff;
  --type--Fighting: #bb5544;
  --type--Poison: #aa5599;
  --type--Ground: #ddbb56;
  --type--Flying: #8899ff;
  --type--Psychic: #f774a6;
  --type--Bug: #abbb23;
  --type--Rock: #bcaa66;
  --type--Ghost: #5656b3;
  --type--Dragon: #7767ee;
  --type--Dark: #765443;
  --type--Steel: #aaaabb;
  --type--Fairy: #ee9aee;
}

/* Custom Fonts */
@font-face {
  font-family: Gameboy;
  src: url('../../public/fonts/gameboy-font.ttf');
}

@font-face {
  font-family: Pokemon Solid;
  src: url('../../public/fonts/pokemon-font.ttf');
}

/* General Formatting */
html {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: Gameboy, sans-serif;
}

.container {
  margin: 1rem;
  height: 45rem;
}

/* Reusable Components */
.heading {
  display: inline-block;
  align-content: center;
  line-height: 2rem;
  font-weight: bolder;
  font-size: 1.55rem;
  text-shadow: 3px 2px 2px var(--secondary-color--grey-gradient);
}

.heading--2 {
  margin-bottom: 1rem;
  line-height: 1.55rem;
  font-size: 1.25rem;
  text-shadow: 2px 2px 1px var(--secondary-color--grey-gradient);
}

.form {
  display: flex;
  justify-content: space-between;
}

.form label {
  margin-top: 0.7rem;
  font-size: 0.9rem;
}

.input {
  padding: 0.4rem 0.5rem 0.3rem;
  height: 1.75em;
  line-height: 2rem;
  border-radius: 5px;
  font-family: Gameboy, sans-serif;
}

.input::placeholder {
  padding: 2rem 0.5rem;
  font-family: Gameboy, sans-serif;
  font-size: 0.75rem;
  text-transform: none;
  color: var(--secondary-color--grey-gradient);
}

.label--inset {
  padding: 0.25rem 0.25rem 0.15rem;
  font-size: 0.5rem;
  background-color: var(--text--light);
  color: var(--screen-color--dark);
  border-radius: 5px;
  box-shadow: 0px 1px 2px 2px var(--secondary-color--grey-gradient) inset;
}

.img__display {
  margin-right: 1.5rem;
  padding: 1rem;
  background-color: var(--text--light);
  border-radius: 5px;
  box-shadow: 3px 3px 6px 4px var(--secondary-color--grey-gradient) inset;
}

.progress__outer {
  border-radius: 2px;
  border: 1px solid rgb(20, 20, 20);
  background-color: var(--secondary-color--grey-gradient);
  box-shadow: 0px 0px 5px inset var(--screen-color--dark);
}

.bio {
  box-sizing: border-box;
  padding: 0.5rem;
  font-size: 0.75rem;
  border-radius: 4px;
  background-color: var(--text--light);
  color: var(--screen-color--dark);
  box-shadow: 1px 1px 5px 3px var(--secondary-color--grey-gradient) inset;
}

.pokemon__id {
  background: radial-gradient(
    farthest-corner at 2.3rem 2rem,
    var(--secondary-color--red-gradient--1) 60%,
    var(--secondary-color--red) 80%,
    var(--secondary-color--red-gradient--2) 97%
  );
  color: var(--text--light);
  padding: 0.5rem 0.4rem 0.3rem;
  border: 1px solid var(--secondary-color--red-gradient--2);
  box-shadow: 0px 0px 8px 3px var(--secondary-color--red-gradient--3);
  align-content: center;
  font-size: 0.5rem;
}

.pokemon__type {
  padding: 0.3rem 0.3rem 0.2rem;
  font-size: 0.5rem;
  font-weight: bolder;
  border-radius: 4px;
  background-color: none;
  color: var(--text--light);
  text-align: center;
  box-shadow: 0px 0px 3px 2px var(--text--light);
}

/* Buttons */

.btn {
  font-family: Gameboy, sans-serif;
  font-size: 0.75rem;
  border-radius: 0.3rem;
  padding: 0.5rem 0.5rem 0.3rem;
  background: var(--btn-bg);
  color: var(--text--light);
  transition:
    background-color 0.1s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.header__btn {
  margin-left: 0.6rem;
  padding: 0.25rem 1rem;
  border: none;
  box-shadow: 2px 3px 5px 3px var(--secondary-color--red-gradient--3);
  transition:
    background-color 0.1s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.btn--red {
  --btn-bg: linear-gradient(
    -40deg,
    var(--secondary-color--red-gradient--1) 10%,
    var(--secondary-color--red) 85%,
    var(--secondary-color--red-gradient--2) 100%
  );
  --btn-shadow: var(--secondary-color--red-gradient--1);
  --btn-highlight: var(--secondary-color--red-gradient--2);
}

.btn--blue {
  --btn-bg: linear-gradient(
    -40deg,
    var(--secondary-color--blue-gradient--1) 10%,
    var(--secondary-color--blue) 90%,
    var(--secondary-color--blue-gradient--2) 100%
  );
  --btn-shadow: var(--secondary-color--blue-gradient--1);
  --btn-highlight: var(--secondary-color--blue-gradient--2);
}

.btn--green {
  --btn-bg: linear-gradient(
    -20deg,
    var(--secondary-color--green-gradient--1) 10%,
    var(--secondary-color--green) 80%,
    var(--secondary-color--green-gradient--2) 100%
  );
  --btn-shadow: var(--secondary-color--green-gradient--1);
  --btn-highlight: var(--secondary-color--green-gradient--2);
}

.btn--yellow {
  --btn-bg: linear-gradient(
    -40deg,
    var(--secondary-color--yellow-gradient--1) 10%,
    var(--secondary-color--yellow) 85%,
    var(--secondary-color--yellow-gradient--2) 100%
  );
  --btn-shadow: var(--secondary-color--yellow-gradient--1);
  --btn-highlight: var(--secondary-color--yellow-gradient--2);
}

.btn--active {
  font-weight: bold;
  background: var(--btn-highlight);
  color: var(--btn-shadow);
  box-shadow: 0px 0px 4px 2px inset var(--btn-shadow);
}

.btn--disabled {
  pointer-events: none;
  cursor: not-allowed;
  background: var(--btn-highlight);
  box-shadow: 0px 0px 4px 2px inset var(--btn-shadow);
}

.btn:hover {
  background: var(--btn-highlight);
  box-shadow: 0px 0px 4px 2px inset var(--btn-shadow);
  color: var(--btn-shadow);
  font-weight: bold;
  cursor: pointer;
}

/* Pokédex Header */
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-image: 1px solid black;
  color: var(--text--light);
}

.header:hover h1 {
  text-decoration: none;
  text-shadow: 2px 2px 3px var(--secondary-color--red-gradient--3);
  transition: all ease-in-out 0.25s;
}

.header__logo {
  font-family: 'Pokemon Solid', sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-shadow: 3px 4px 2px var(--secondary-color--red-gradient--3);
  padding-top: 0.25rem;
}

.header__logo:hover {
  cursor: pointer;
}

.header__logo--name {
  letter-spacing: 0.5rem;
}

.header__nav {
  display: flex;
  gap: 0.5rem;
}

.header__btn:first-child {
  margin-left: none;
}

.header__btn--icon {
  display: none;
}

/* Pokédex Light Bulbs */

.lights {
  display: flex;
  margin-bottom: 0.5rem;
}

.lights__outer {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  background-image: radial-gradient(
    circle,
    var(--secondary-color--grey-gradient) 60%,
    var(--secondary-color--grey) 90%
  );
}

.lights__inner {
  box-sizing: border-box;
  width: 1.1rem;
  height: 1.1rem;
  margin-right: 0.5rem;
  border: 0.05rem solid var(--screen-color--dark);
  border-radius: 50%;
  transition:
    background-color 0.1s ease-in-out,
    border 0.1s ease-in-out;
}

.lights__inner--blue {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.1rem;
  height: 2.1rem;
  transform: translate(-50%, -50%);
  border: 0.115rem solid var(--secondary-color--blue-gradient--1);
  background-image: radial-gradient(
    farthest-corner at 2.25rem 2.25rem,
    var(--secondary-color--blue-gradient--1) 28%,
    var(--secondary-color--blue) 70%,
    var(--secondary-color--blue-gradient--2) 85%
  );
  --lights-highlight: var(--secondary-color--blue-gradient--2);
}

.lights__inner--red {
  background-image: radial-gradient(
    farthest-corner at 2rem 2rem,
    var(--secondary-color--red-gradient--1) 60%,
    var(--secondary-color--red) 80%,
    var(--secondary-color--red-gradient--2) 97%
  );
  --lights-highlight: var(--secondary-color--red-gradient--2);
}

.lights__inner--yellow {
  background-image: radial-gradient(
    farthest-corner at 2rem 2rem,
    var(--secondary-color--yellow-gradient--1) 60%,
    var(--secondary-color--yellow) 80%,
    var(--secondary-color--yellow-gradient--2) 97%
  );
  --lights-highlight: var(--secondary-color--yellow-gradient--2);
}

.lights__inner--green {
  background-image: radial-gradient(
    farthest-corner at 2rem 2rem,
    var(--secondary-color--green-gradient--1) 60%,
    var(--secondary-color--green) 80%,
    var(--secondary-color--green-gradient--2) 97%
  );
  --lights-highlight: var(--secondary-color--green-gradient--2);
}

.lights__inner:hover {
  cursor: pointer;
}

.lights__inner--active:hover {
  cursor: none;
  pointer-events: none;
}

.lights__inner--active,
.lights__inner:hover {
  border: 1px solid var(--lights-highlight);
}

/* Pokédex Divider */

.divider {
  display: flex;
  position: relative;
  bottom: 1.5rem;
  opacity: 90%;
}

.divider__diagonal,
.divider__top {
  height: 2rem;
  transform: skew(-50deg);
}

.divider__diagonal {
  width: 10rem;
  border-right: 5px solid var(--secondary-color--red-gradient--3);
  border-bottom: 3px solid var(--secondary-color--red-gradient--3);
}

.divider__top {
  flex-grow: 1;
  border-top: 3px solid var(--secondary-color--red-gradient--3);
}

.divider__hinge {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 3%;
  height: 100%;
  left: 48.5%;
  background-color: var(--primary-color);
}

.divider__footer {
  position: relative;
  margin-top: 1.5rem;
  width: 100.3vw;
  left: 50%;
  margin-left: -50vw;
  border-bottom: 3px solid var(--secondary-color--red-gradient--3);
}

/* Pokédex Screens */

.screen__border {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 80%;
  padding: 0.5rem 1.25rem;
  border-radius: 5px;
  background-color: var(--secondary-color--grey);
}

.screen__1,
.screen__2 {
  position: relative;
  height: 96%;
  box-shadow: 0px 4px 4px 3px var(--secondary-color--grey-gradient);
  border-radius: 10px;
  width: 47%;
  background-color: var(--screen-color--dark);
  overflow-y: auto;
  scrollbar-color: var(--secondary-color--grey);
}

.screen__1--search,
.screen__2--search,
.screen__1--map,
.screen__2--map,
.screen__1--profile,
.screen__2--profile,
.screen__1--about,
.screen__2--about,
.screen__1--page-not-found,
.screen__2--page-not-found {
  position: relative;
  padding: 1.5rem;
  color: var(--text--light);
}

.screen__1--search {
  display: block;
}

/* Shared Module Styles */
.search__input,
.profile__input,
.caught__input {
  flex: 1 1 auto;
  padding: 0.4rem 0.5rem 0.3rem;
  height: 1.75em;
  min-width: 0;
}

.search__preview--container,
.profile__preview--container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  gap: 2rem;
  justify-content: center;
  padding: 1rem 0rem;
}

.search__preview,
.profile__preview {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  height: 9.5rem;
  width: 78%;
  padding: 1rem;
  border-radius: 5px;
  justify-content: center;
  background-position: 20% 25%;
  background-repeat: no-repeat;
  background-size: 40%;
  background-color: var(--secondary-color--grey);
  background-image: url(../../public/imgs/pokeball.svg);
  background-blend-mode: soft-light;
  transition: all 0.3s ease-in;
}

.search__preview--id,
.profile__preview--id {
  align-self: flex-end;
}

.search__preview--name,
.profile__preview--name {
  padding: 0.6rem 0.6rem 0.4rem;
  margin-top: 0.5rem;
  font-size: 0.55rem;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  box-shadow: 1px 1px 2px 2px var(--screen-color--dark) inset;
  background-color: var(--secondary-color--grey-gradient);
  color: var(--text--light);
  text-shadow: 2px 2px 2px var(--secondary-color--grey-gradient);
}

.search__preview--active,
.profile__preview--active,
.search__preview:hover,
.profile__preview:hover {
  background-color: var(--text--light);
  background-image: url(../../public/imgs/pokeball-red.svg);
  background-blend-mode: normal;
  box-shadow: 0px 0px 4px 3px var(--secondary-color--red-gradient--2);
}

.search__preview--active .search__preview--id,
.profile__preview--active .profile__preview--id,
.search__preview:hover .search__preview--id,
.profile__preview:hover .profile__preview--id {
  border: 1px solid var(--secondary-color--red-gradient--1);
  box-shadow: 0px 0px 3px 3px var(--secondary-color--red-gradient--2);
}

.search__preview--active .search__preview--name,
.profile__preview--active .profile__preview--name,
.search__preview:hover .search__preview--name,
.profile__preview:hover .profile__preview--name {
  background-color: var(--secondary-color--grey);
  box-shadow: 1px 1px 2px 2px var(--screen-color--dark);
  text-shadow: none;
  color: var(--screen-color--dark);
}

.search__preview--active .search__preview--img,
.profile__preview--active .profile__preview--img,
.search__preview:hover .search__preview--img,
.profile__preview:hover .profile__preview--img {
  animation: bounce 0.3s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.06, 1, 1);
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 0.275rem, 0);
  }
}

/* Search Module (Screen 1) */

.search__form {
  gap: 1.5rem;
}

.search__form--sort {
  display: flex;
  gap: 0.5rem;
  align-content: center;
}

.search__form--sort label {
  font-size: 0.9rem;
}

.search__btn--name,
.search__btn--id {
  font-size: 0.75rem;
}

/* Search Module (Screen 2) */

.search__panel {
  display: flex;
}

.search__panel img {
  width: 9rem;
  height: 9rem;
}

.search__panel--header {
  display: flex;
  justify-content: space-between;
  width: 30rem;
  flex-direction: column;
}

.search__panel--header .pokemon__id {
  position: relative;
  bottom: 0.4rem;
  left: 0.7rem;
}

.search__panel--types {
  margin: 0.3rem 0 0.5rem;
}

.search__panel--types .pokemon__type {
  margin-right: 0.75rem;
}

.search__panel--measurements {
  display: flex;
  margin: 0.75rem 0 0.75rem;
  font-size: 0.6rem;
  flex-grow: 1;
}

.search__panel--measurements p {
  margin-bottom: 0;
}

.search__panel--measurements p:first-child {
  margin-right: 2rem;
}

.search__panel--bio {
  height: 4.7rem;
  overflow-y: scroll;
}

.search__abilities {
  display: flex;
  margin: 1.5rem 0 1rem;
}

.search__stats {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  justify-content: space-between;
}

.search__stats--row {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 0.85rem;
  margin-bottom: 0.9rem;
}

.search__stats--row p {
  width: 4.5rem;
}

.search__stats--row span {
  margin-right: 1.5rem;
  font-size: 0.6rem;
  width: 1.75rem;
  text-align: center;
}

.search__stats--row .progress__outer {
  right: 8%;
  flex-grow: 1;
  margin-right: 2rem;
  height: 0.5rem;
  flex: 1 1 0;
}

.search__stats--row .progress__inner {
  height: 0.45rem;
}

.search__moves {
  flex-grow: 1;
  width: 12rem;
}

.search__moves p {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.search__moves--known {
  box-shadow: 0px 0px 3px 1px var(--text--light) inset;
  margin-left: 1rem;
  padding: 0.5rem 0.5rem 0.25rem;
  border-radius: 3px;
  font-size: 0.75rem;
}

.search__pagination {
  display: flex;
  justify-content: space-between;
}

.search__pagination button {
  padding: 0 0.4rem;
}

.search__btn--favorite,
.search__btn--caught {
  display: flex;
  font-size: 0.7rem;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-evenly;
}

.search__btn--prev.btn--disabled,
.search__btn--next.btn--disabled {
  --btn-highlight: var(--secondary-color--grey);
  --btn-shadow: var(--secondary-color--grey-gradient);
}

.search__btn--hidden {
  opacity: 0%;
  width: 1rem;
  pointer-events: none;
  cursor: not-allowed;
}

/* Map Module (Screen 1) */
.map__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.map__header p {
  font-size: 0.75rem;
}

.map__header--summary {
  align-self: flex-start;
  font-size: 0.5rem;
}

.map__header--caught {
  margin-right: 0.65rem;
  justify-content: center;
  padding: 0.4rem 0.25rem 0.25rem;
}

.map__sort {
  display: flex;
  align-self: center;
  gap: 1rem;
  justify-content: space-between;
}

.map__btns--sort {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  align-content: center;
}

.map__btns {
  display: flex;
  justify-content: space-between;
  align-self: center;
  position: relative;
  margin-bottom: 1rem;
  gap: 1rem;
}

.map__btns button {
  padding: 0.75rem;
}

.map__btns label {
  align-self: center;
  height: 100%;
  font-size: 0.9rem;
}

.map__entry--container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.map__entry {
  display: flex;
  padding: 0.75rem;
  background: linear-gradient(
    -190deg,
    var(--secondary-color--grey) 10%,
    var(--secondary-color--grey-gradient) 100%
  );
  color: var(--screen-color--dark);
  border-radius: 5px;
  transition: all ease-in-out 0.5s;
}

.map__entry--form {
  display: flex;
  border-radius: 5px;
  padding: 0.75rem;
  flex-direction: column;
  background: linear-gradient(
    10deg,
    var(--secondary-color--grey) 10%,
    var(--secondary-color--grey-gradient) 100%
  );
  margin-bottom: 1rem;
}

.map__entry--img {
  padding: 0.25rem 0.2rem 0.5rem 0.5rem;
  align-self: stretch;

  margin-right: 1rem;
  object-fit: cover;
  width: 8rem;
  height: auto;
  background-color: var(--text--light);
  box-shadow: 2px 3px 6px 3px inset var(--screen-color--dark);
  align-content: center;
}

.map__entry--details {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem;
  width: 80%;
  border-radius: 3px;
  background-color: var(--text--light);
  box-shadow: 2px 3px 6px 3px inset var(--screen-color--dark);
}

.map__entry--header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.25rem;
}

.map__entry--options {
  display: flex;
  position: relative;
  gap: 0.75rem;
}

.map__entry--delete:hover,
.map__entry--edit:hover {
  background-color: var(--secondary-color--grey);
  color: var(--secondary-color--grey-gradient);
}

.map__entry--delete:hover + .map__entry--tooltip,
.map__entry--edit:hover + .map__entry--tooltip {
  display: inline-block;
}
.map__entry--name {
  margin: 0.2rem 0;
  font-size: 1.4rem;
  font-weight: bold;
}

.map__entry--id {
  position: absolute;
  margin-left: 0.5rem;
  padding: 0.25rem 0.2rem 0.2rem;
}

.map__entry--delete,
.map__entry--edit {
  background-color: var(--secondary-color--grey-gradient);
  border-radius: 2px;
  color: var(--text--light);
  padding: 0.2rem 0.3rem 0.15rem;
  position: relative;
  border-color: var(--screen-color--dark);
  transition: all ease-in-out 0.2s;
}

.map__entry--delete:hover,
.map__entry--edit:hover {
  background-color: var(--secondary-color--grey);
  color: var(--secondary-color--grey-gradient);
}

.map__entry--delete:hover + .map__entry--tooltip,
.map__entry--edit:hover + .map__entry--tooltip {
  display: inline-block;
}

.map__entry--tooltip {
  position: absolute;
  display: none;
  width: 11rem;
  font-size: 0.45rem;
  background-color: var(--secondary-color--yellow-gradient--2);
  color: var(--screen-color--dark);
  border: solid 1px var(--screen-color--dark);
  text-align: center;
  padding: 5px 0.5rem;
  line-height: 0.75rem;
  border-radius: 4px;
  z-index: 1;
  top: 2.25rem;
  right: 0.01rem;
}

.map__entry--types {
  display: flex;
}

.map__entry--types p {
  padding: 0.3rem 0.3rem 0.2rem;
  margin-bottom: 1rem;
  margin-right: 0.75rem;
  color: var(--text--light);
}

.map__entry--caught {
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  line-height: 0.75rem;
}

.map__entry--location {
  text-shadow: 2px 2px 1px var(--secondary-color--grey);
  color: var(--primary-color);
}

.map__entry--active,
.map__entry:hover {
  background: linear-gradient(
    -40deg,
    var(--secondary-color--red-gradient--1) 10%,
    var(--secondary-color--red) 85%,
    var(--secondary-color--red-gradient--2) 100%
  );
  box-shadow: 0px 0px 6px 3px var(--secondary-color--red-gradient--2);

  animation: bounce 0.7s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.06, 1, 1);
  animation-iteration-count: infinite;
}

.map__entry--form {
  padding: 1rem;
}

.map__form {
  display: flex;
  flex-direction: column;
  font-family: Gameboy, sans-serif;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.map__form--row:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.map__form--row label {
  color: var(--screen-color--dark);
  margin-bottom: 0.25rem;
}

.map__form--name,
.map__form--id,
.map__form--location {
  flex-direction: row;
  font-size: 0.8rem;
}

.map__form--location {
  display: flex;
  flex-direction: column;
}

.map__input {
  padding: 0.4rem 0.5rem 0.3rem;
  margin-bottom: 0.4rem;
  font-size: 0.75rem;
  flex: 1 1 0;
  min-width: 0;
  line-height: 2rem;
}

.map__input--name {
  text-transform: none;
  background-color: var(--secondary-color--grey);
}

.map__input--id {
  background-color: var(--secondary-color--grey);
}

.map__input:focus {
  box-shadow: 1px 1px 2px 1px inset var(--screen-color--dark);
  outline: none;
}

/* Map Module (Screen 2) */
#map {
  height: 100%;
}

.screen__2--map {
  height: 90%;
}

.map__infowindow--name {
  padding: 0.8rem 0 0.25rem;
  position: relative;
  bottom: 5px;
}

.map__infowindow--location {
  font-size: 0.5rem;
}

.map__infowindow--types {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
  font-size: 0.4rem;
  position: relative;
  bottom: 5px;
}

.map__infowindow--type {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0.75rem;
  width: 4rem;
}

/* Overridden Google Maps API Styles */

.gm-style-iw .gm-style-iw-c {
  display: flex;
}

.gm-style .gm-style-iw-d {
  overflow: hidden !important;
  padding: 0 !important;
}

.gm-style .gm-style-iw-c {
  padding: 0.25rem 0.5rem 0.5rem !important;
  color: var(--screen-color--dark);
  font-family: 'Gameboy';
  line-height: 1rem;
  font-size: 0.75rem;
  text-align: center;
}

.gm-style-iw-ch {
  padding: 0 !important;
  height: 0 !important;
  min-width: 240px !important;
}

.gm-style .pokemon__id {
  position: relative;
  padding: 0.25rem 0.25rem 0.2rem;
  bottom: 3px;
  box-shadow: 1px 0px 5px 1px var(--secondary-color--red-gradient--3);
}

.gm-ui-hover-effect {
  left: 5px;
  transform: scale(0.8);
  width: 20px !important;
  height: 20px !important;
}

.gm-ui-hover-effect span {
  width: 20px !important;
  height: 20px !important;
  margin: 0 !important;
}

/* Profile Module (Screen 1) */

.profile__header--container {
  display: flex;
  margin-bottom: 1.5rem;
}

.profile__header {
  display: flex;
}

.profile__header--details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile__header--labels {
  display: flex;
  flex-wrap: wrap;
  margin: 0.25rem 0 1rem;
  font-size: 0.5rem;
}

.profile__header--label:first-child {
  margin-right: 1rem;
}

.profile__header--label span {
  margin-left: 0.5rem;
}

.profile__header--bio {
  line-height: 0.75rem;
  font-size: 0.65rem;
  flex: 1 1 0;
}

.profile__img {
  width: 6rem;
  height: 6rem;
}

.profile__stats {
  display: flex;
  margin-top: 0.75em;
  gap: 2rem;
}

.profile__stats--column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.profile__stats--row {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.25rem;
}

.profile__stats--row:last-child {
  margin-bottom: 0;
}

.profile__stats--row span {
  height: 0.5rem;
  width: 1.45rem;
  text-align: center;
}

.profile__stats--row .progress__outer {
  position: relative;
  top: 20%;
  right: 1%;
  height: 0.5rem;
  border-radius: 2px;
  background-color: var(--secondary-color--grey-gradient);
  flex: 1 1 auto;
  min-width: 4rem;
}

.profile__stats--row .progress__inner {
  display: inline-block;
  position: relative;
  bottom: 55%;
  left: 1%;
  height: 0.45rem;
  border-radius: 1px;
}

.profile__stats--row .progress__inner:last-child {
  left: 0%;
  bottom: 60%;
}

.profile__stats--type {
  width: 4rem;
}

/* Profile Module (Screen 2) */

.profile__categories {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.profile__btn--caught,
.profile__btn--favorites {
  width: 48%;
  padding: 0.5rem 0.5rem 0.3rem;
}

.profile__form {
  gap: 1.5rem;
}

.profile__form--sort {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

/* About Module (Screen 1) */
.heading--about {
  font-family: 'Pokemon Solid';
  font-size: 2.3rem;
  letter-spacing: 0.2rem;
  color: var(--secondary-color--yellow);
  text-shadow: 4px 4px 0px var(--secondary-color--blue-gradient--1);
  margin-bottom: 1rem;
}

.about__intro {
  margin-bottom: 1.5rem;
}

.about__manual--modDesc {
  display: flex;
  margin-bottom: 1.25rem;
}

.about__manual--modDesc .about__btn {
  margin-right: 1rem;
}

.about__creator {
  margin-top: 1.5rem;
}

.about__creator--intro {
  display: flex;
}

.about__creator--text {
  margin-bottom: 1rem;
}

.about__creator--text .heading--2 {
  margin-bottom: 0.5rem;
}

.about__creator--img {
  width: 8rem;
  height: 8rem;
}

.about__creator--section:first-of-type {
  margin: 1rem 0 0.5rem 0;
}

.about__creator--section:not(:first-of-type) {
  margin: 2rem 0 0.5rem 0;
}

.about--li {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}

.about--li:last-child {
  margin-bottom: 0.5rem;
}

.about--li:first-child {
  margin-top: 0.5rem;
}

.about--li li {
  line-height: 1rem;
}

.about--list-icon {
  width: 1rem;
  height: 1rem;
  margin: 0 1rem 0 0.75rem;
  align-self: center;
}

.about--divider {
  border-bottom: var(--text--light) solid 2px;
  margin: 1.5rem 0;
}

.about__heading {
  line-height: 1.25rem;
}

.about--text {
  line-height: 1rem;
  font-size: 0.75rem;
}

.about__btn {
  min-width: 8rem;
  height: 2rem;
  align-self: center;
}

.about--full-text {
  display: inline-block;
}

.about--short-text {
  display: none;
}

/* About Module (Screen 2) */

.about__tech-stack {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 0.5rem 0 1.5rem;
}

.about__tech-stack--img {
  width: 3rem;
  height: 3rem;
  margin: 0.25rem 0.25rem 0.5rem;
}

.about__tech-stack--item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__tech-stack--item p {
  font-size: 0.65rem;
}

.about__third-party {
  margin: 0.5rem 0 1.5rem;
}

.about__focus {
  margin: 0.5rem 0 1rem;
}

.about__btn-group {
  display: flex;
  flex-direction: column;
}

.about__btn-group--btn {
  width: 100%;
  margin-bottom: 1rem;
}

/* Footer */

.footer {
  position: relative;
  padding: 1.25rem 0 1rem;
  color: var(--screen-color--dark);
}

.footer__byline {
  text-align: center;
  line-height: 1.25rem;
}

.footer__links {
  position: absolute;
  right: 0.2rem;
  bottom: 1rem;
}

.footer__links--link {
  transition: all ease-in-out 0.25s;
  color: (var(--screen-color--dark));
  text-decoration: none;
}

.footer__links--link:hover {
  color: var(--text--light);
}

.footer__links--link:visited svg {
  text-decoration: none;
  fill: inherit;
}

/* Page Not Found Error */
.page-not-found {
  margin-top: 0.5rem;
  line-height: 1.25rem;
}

.screen__1--page-not-found .heading {
  line-height: 1.75rem;
}

.page-not-found__error {
  display: flex;
  flex-direction: column;
}
.page-not-found__img {
  width: 12rem;
  height: 12rem;
  align-self: center;
}

.page-not-found__code {
  margin-right: 1rem;
  align-content: center;
  text-align: center;
  width: 100%;
  height: 10rem;
  font-size: 3.5rem;
}

.page-not-found-2--img {
  width: 100%;
}

.page-not-found-2__details {
  margin: 1rem 0;
  line-height: 1.25rem;
}

.page-not-found-2__btn {
  width: 100%;
}

/* Utility Classes */
.hidden {
  display: none;
}

.short-text {
  display: none;
}

.full-text {
  display: inline-block;
}

.spinner__div {
  grid-column: 1 / -1;
  display: flex;
  flex-grow: 1;
  width: 100%;
  justify-content: center;
  margin: 13rem auto;
}

.spinner__img {
  height: 3rem;
  width: 3rem;
  animation: rotate 2s infinite linear;
}

.error {
  display: flex;
  grid-column: 1 / -1;
  background-color: var(--secondary-color--grey-gradient);
  border: 3px solid var(--text--light);
  border-radius: 3px;
  margin: 1rem 0;
  padding: 1rem;
}

.error svg {
  align-self: center;
  justify-self: start;
  width: 30%;
  height: 3rem;
  margin: 1rem 2rem 1rem 1rem;
}

.error p {
  align-self: center;
  font-size: 15px;
  line-height: 1.5;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ----- Media Queries ----- */

/* Large Devices (i.e. Desktops) */

@media (max-width: 1400px) {
  /* Map Module */
  .map__header {
    flex-direction: column;
    gap: 0.5rem;
  }

  .map__form--row {
    flex-direction: column;
    justify-content: start;
  }

  .map__form--row label {
    font-size: 0.75rem;
  }

  .map__form--name,
  .map__form--id {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .map__form--location {
    margin-top: 0.25rem;
  }

  .map__entry--header {
    flex-direction: column;
    margin-bottom: 0.5rem;
    gap: 0.25rem;
  }

  .map__entry--name {
    font-size: 1.15rem;
  }

  .map__entry--caught,
  .map__entry--types {
    font-size: 0.7rem;
  }

  .map__entry--img {
    padding: 2rem;
  }
}

@media (max-width: 1300px) {
  /* Map Module */
  .map__sort {
    align-self: flex-start;
  }

  .map__btns {
    flex-direction: column;
    gap: 1rem;
  }

  .map__btns button {
    padding: 0.5rem;
  }

  .map__entry--name {
    font-size: 1rem;
  }

  .map__entry--id {
    font-size: 0.4rem;
  }

  /* Profile Module */
  .profile__header--container {
    margin-bottom: 0;
  }

  .profile__header--details {
    justify-content: space-evenly;
  }

  .profile__header--labels {
    margin-bottom: 0;
  }

  .profile__header--label {
    line-height: 1.5rem;
  }

  .profile__stats {
    flex-direction: column;
    gap: 1rem;
  }

  .profile__header--full-text {
    display: none;
  }

  .profile__header--short-text {
    display: inline-block;
    margin: 1rem 0;
  }

  /* Utility Classes */
  .heading {
    font-size: 1.25rem;
  }

  .short-text {
    display: inline-block;
  }

  .full-text {
    display: none;
  }
}

@media (max-width: 1150px) {
  /* Search Module */
  .search__moves {
    width: 100%;
  }

  .search__moves--collection {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  .search__panel--measurements {
    flex-direction: column;
    gap: 1rem;
  }

  .search__panel--bio {
    height: 3rem;
  }

  .search__abilities {
    flex-direction: column;
    gap: 1rem;
  }

  /* Map Module */
  .map__header {
    align-items: center;
  }

  .map__header--summary {
    align-self: center;
    margin-bottom: 0.2rem;
  }

  .map__sort {
    justify-content: center;
    width: 100%;
  }

  .map__form--row {
    display: flex;
    flex-direction: column;
  }
}

/* Large Devices (i.e. Laptops) */
@media (max-width: 998px) {
  /* Pokémon Header */
  .header__btn .short-text,
  .header__btn .full-text {
    display: none;
  }

  .header__btn--icon {
    display: inline-block;
  }

  .header__logo {
    font-size: 1.75rem;
  }

  /* Pokédex Container */
  .screen__border {
    flex-direction: column;
    height: 130%;
  }

  .divider__hinge {
    width: 100%;
    height: 3%;
    flex-direction: row;
    left: 0%;
    top: 48.5%;
  }

  .screen__1,
  .screen__2 {
    width: 99%;
    height: 47%;
  }

  /* Search Module */
  .search__panel--header {
    width: 100%;
  }

  .search__panel--measurements {
    flex-direction: column;
    gap: 1rem;
  }

  .search__abilities {
    flex-direction: row;
    gap: 1rem;
  }

  .search__moves {
    width: 12rem;
  }

  .search__moves--collection {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  .search__panel--bio {
    height: 3rem;
  }

  /* Map Module */
  .map__header,
  .map__btns {
    flex-direction: row;
  }

  .map__entry--header {
    flex-direction: row;
    margin-bottom: 0;
  }

  .map__entry--details {
    gap: 0.25rem;
  }

  .map__entry--img {
    width: 5rem;
  }

  .map__sort {
    display: flex;
    justify-content: flex-end;
  }

  .caught__input {
    flex: 1 1 0;
    min-width: 18rem;
  }

  /* About Module */
  .heading--about {
    font-size: 1.75rem;
    line-height: 2.2rem;
  }

  .about__creator--intro {
    flex-direction: column;
    gap: 1rem;
  }

  .about__creator--img {
    align-self: center;
  }

  .about__tech-stack {
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: start;
  }

  .about__tech-stack--img {
    width: 2rem;
    height: 2rem;
  }

  .about__btn {
    padding: 1.3rem 0.5rem 1.8rem;
    line-height: 1rem;
    font-size: 0.7rem;
  }

  .about__heading {
    font-size: 0.8rem;
  }

  .about--li,
  .about--text {
    line-height: 1rem;
  }

  .about--text {
    font-size: 0.7rem;
  }

  .about--full-text {
    display: none;
  }

  .about--short-text {
    display: inline-block;
  }

  /* Page Not Found Error */
  .page-not-found__img {
    width: 9rem;
    height: 9rem;
  }

  .page-not-found__code {
    height: 8rem;
  }

  .page-not-found p {
    font-size: 0.8rem;
  }

  /* Profile Module */
  .profile__header--container {
    margin-bottom: 1.5rem;
  }

  .profile__header--details {
    position: relative;
  }

  .profile__header--labels {
    margin: 0 0 0.25rem;
  }

  .profile__stats {
    flex-direction: row;
  }

  .profile__header--short-text {
    display: none;
  }

  .profile__header--full-text {
    display: inline-block;
  }

  /* Footer */
  .footer {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .footer__byline {
    font-size: 0.8rem;
  }

  .footer__links {
    position: relative;
    align-self: center;
    width: 10rem;
    display: flex;
    justify-content: space-between;
    right: 0;
    bottom: 0;
  }

  /* Utility Classes */
  .heading--2 {
    font-size: 1rem;
  }
  .short-text {
    display: inline-block;
  }

  .full-text {
    display: none;
  }
}

/* Medium Devices (i.e. Tablets) */

@media (max-width: 750px) {
  /* Map Module */
  .map__header {
    flex-direction: column;
    gap: 0.5rem;
  }

  .map__entry--name {
    font-size: 1.15rem;
  }

  .map__entry--header {
    flex-direction: column;
    margin-bottom: 0.5rem;
    gap: 0.25rem;
  }

  .map__entry--img {
    width: 5rem;
  }

  .map__entry--caught,
  .map__entry--types {
    font-size: 0.7rem;
  }

  .map__entry--img {
    padding: 2rem;
  }

  .map__btns {
    flex-direction: column;
    gap: 1rem;
  }

  .map__sort {
    align-items: center;
    justify-content: center;
  }
}

/* Small Devices (i.e. Phones) */

@media (max-width: 576px) {
  /* Pokédex Navigation Menu */
  .header {
    flex-direction: column;
    gap: 1rem;
  }

  .header__nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
  }

  .header__btn {
    margin: 0;
  }

  .header__logo {
    text-align: center;
  }

  /* Shared Module Styles */
  .search__form,
  .profile__form {
    flex-direction: column;
    gap: 1rem;
  }

  /* Search Module */
  .search__panel {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .search__panel img,
  .profile__img {
    margin: 0;
  }

  .search__panel--bio {
    font-size: 0.65rem;
  }

  .search__form--sort {
    justify-content: space-evenly;
  }

  .search__abilities {
    flex-direction: column;
    width: 100%;
  }

  .search__stats {
    flex-grow: 1;
  }

  .search__stats--row .progress__outer {
    margin-right: 0;
  }

  .search__moves--known {
    font-size: 0.65rem;
  }

  .search__btn--caught .full-text,
  .search__btn--favorite .full-text,
  .search__btn--caught .short-text,
  .search__btn--favorite .short-text {
    display: none;
  }

  .search__pagination button {
    padding: 0 0.5rem;
  }

  /* Map Module */
  .map__entry {
    flex-direction: column;
    gap: 1rem;
  }

  .map__entry--header {
    flex-direction: column;
    align-items: center;
  }

  .map__entry--types {
    justify-content: center;
  }

  .map__entry--caught {
    text-align: center;
  }

  .map__entry--details {
    width: 92%;
  }

  .map__entry--name {
    font-size: 1rem;
  }

  .map__entry--img {
    align-self: center;
    width: 40%;
    object-fit: none;
    height: auto;

    margin-right: 0;
    padding: 0;
  }

  /* Profile Module */
  .profile__header--container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .profile__header--details {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .profile__header--labels {
    flex-direction: column;
    align-items: center;
  }

  .profile__header--label:first-child {
    margin-right: 0;
  }

  .profile__header--bio {
    text-align: start;
  }

  .profile__stats {
    flex-direction: column;
  }

  .profile__types h2 {
    font-size: 0.8rem;
    text-align: center;
    line-height: 1rem;
  }

  /* About Module */
  .screen__1--about .heading,
  .screen__2--about .heading,
  .screen__2--about .heading--2,
  .screen__1--about .heading--2,
  .heading--about,
  .about__heading {
    text-align: center;
  }

  .about__manual--modDesc {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .about__tech-stack {
    justify-content: center;
  }

  .about__tech-stack--img {
    width: 2rem;
    height: 2rem;
  }

  .about__tech-stack--item p {
    font-size: 0.5rem;
  }

  .about--text,
  .about--li,
  .about__btn-group--btn {
    font-size: 0.6rem;
  }

  /* Page Not Found Error */
  .page-not-found__code {
    font-size: 2.5rem;
    height: 7rem;
  }

  .page-not-found__img {
    width: 7rem;
    height: 7rem;
  }

  .profile__categories {
    flex-direction: column;
    gap: 0.5rem;
  }

  .profile__btn--caught,
  .profile__btn--favorites {
    width: 100%;
  }

  .heading {
    font-size: 1rem;
  }

  /* Utility Classes */
  .img__display {
    padding: 0rem;
  }

  .error {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 2rem;
  }

  .error svg,
  .error p {
    margin: 0;
  }

  .error p {
    font-size: 0.75rem;
  }
}
